.mainWrapper {
    width: 400px;
    margin-top: 5%;
    padding: 20px;
}

.mainWrapper > h3 {
    margin-bottom: 20px;
}

.mainWrapper h4 {
    margin-top: 20px;
    margin-bottom: 10px;
}

#placeSearchForm > div.input-group {
    width: 400px;
}